{% extends "base.html.twig" %}

{% block title %}Le gite {{gite.name}} {% endblock %}

{% block body %}

<h1>Gite : {{ gite.name }}</h1>

<div class="row-2 mt-4">
    <div class="col-3">
        <table class="table table-striped table-info">
            <tbody>

                <tr>
                    <th>Nom</th>
                    <td>{{gite.name}}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{gite.description}}</td>
                </tr>
                <tr>
                    <th>Surface</th>
                    <td>{{gite.surface}} m²</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{gite.price|number_format(0, '', ' ')}} €</td>
                </tr>
                <tr>
                    <th>Chambre</th>
                    <td>{{gite.bedrooms}}</td>
                </tr>
                <tr>
                    <th>Equipements</th>
                    <td>
                        <ul>
                        {% for equipement in gite.equipements %}
                            <li>
                                {{equipement.name}}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Services</th>
                    <td>
                        <ul>
                        {% for services in gite.services %}
                            <li>
                                {{services.name}}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{gite.address}}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{gite.city}}</td>
                </tr>
                <tr>
                    <th>Code postal</th>
                    <td>{{gite.postalcode}}</td>
                </tr>
                <tr>
                    <th>Animaux</th>
                    {% if gite.animals %}
                    <td>Les animeaux sont Autorisés</td>
                    {% else %} <td>Les animeaux sont Refusés</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}